<header>
    <p-card header="William FINZY" subheader="Développeur Angular / NextJS">
        <div class="flex flex-col md:flex-row justify-end items-end gap-2 text-my-black">
            <a href="tel:+33647604040" target="_blank" rel="noopener noreferrer"
                class="p-button rounded-full bg-my-white hover:brightness-75">
                <i class="pi pi-phone mr-2"></i>O6.47.60.40.40
            </a>
            <a href="mailto:william.finzy@protonmail.com" target="_blank" rel="noopener noreferrer"
                class="p-button rounded-full bg-my-white text-my-black hover:brightness-75">
                <i class="pi pi-envelope mr-2"></i>william.finzy&#64;protonmail.com
            </a>
            <a href="../../../../assets/pdfs/william_finzy_cv.pdf" target="_blank" rel="noopener noreferrer"
                class="p-button rounded-full bg-my-white text-my-black hover:brightness-75">
                <i class="pi pi-download mr-2"></i>Télécharger le CV
            </a>
        </div>
    </p-card>
</header>