<footer class="bg-[#FCFCFD] flex flex-col items-center justify-between py-12">
    <small class="text-primary">Copyright {{ currentDate }}</small>
    <small class="text-primary"
        >Inspired by <a class="a-link" target="_blank" href="https://obsidiantemplate.framer.website/">this</a>, made
        with <a target="_blank" class="a-link" href="https://www.spartan.ng/">that</a>.</small
    >
    <small class="text-primary">Built with  <a target="_blank" class="a-link" href="https://www.angular.dev/">Angular</a> and 💙</small>
</footer>
    