.titleh2 {
    font-size: 2rem;
    margin: 0 0 4rem 0;
}
.titleh2::before {
    content: "";
    position: absolute;
    background-color: #160f0b;
    width: 80px;
    margin-top: 35px;
    height: 5px;
}
.greyed {
    background-color: #645848;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #fdf7ec;
}
