.home-button {
    -webkit-transition: transform 400ms ease-in-out;
    -moz-transition: transform 400ms ease-in-out;
    -ms-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
}
