<section>
    <p-card header="Projets chez le client">
        <p-carousel [value]="experiences" [numVisible]="2" [numScroll]="1" [responsiveOptions]="responsiveOptions">
            <ng-template let-experience pTemplate="item">
                <div class="border-my-brown border-[1px] shadow-sm m-2">
                    <div class="flex flex-col justify-center items-center">
                        <div class="mb-3 h-[50px] w-[50px]">
                            <img src="../../../assets/images/{{experience.image}}" [alt]="experience.company" />
                        </div>
                        <div>
                            <h3 class="text-center mb-1 uppercase font-bold">{{ experience.company }}</h3>
                            <h4 class="mb-1 text-center">{{experience.job}} | {{experience.duration}}</h4>
                            <p class="text-center">{{experience.description}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </p-card>
</section>