<section id="bio">
    <h2 class="text-center titleh2">Qui je suis</h2>
    <div class="grid grid-cols-1  place-items-center gap-4 mb-10">
        <img class="rounded-full" height="150px" width="150px" src="../../../../assets/images/me.webp" alt="">
        <div class="flex flex-wrap gap-2">
            <a aria-label="Mon LinkedIn" href="https://www.linkedin.com/in/williamfinzy/" target="_blank" rel="noopener noreferrer">
                <i style="font-size: 1.5rem" class="text-my-black hover:text-my-brown pi pi-linkedin mr-2"></i>
            </a>
            <a aria-label="Mon Github" href="https://github.com/willfynch" target="_blank" rel="noopener noreferrer">
                <i style="font-size: 1.5rem" class="text-my-black hover:text-my-brown pi pi-github mr-2"></i>
            </a>
        </div>
        <p class="bg-white/80   p-6 rounded-lg max-w-[800px] shadow-md">
            {{bio}}
        </p>
    </div>

    <p class="text-center w-full">J'aime bien travailler avec ces outils-là ⬇️</p>

    <div class="flex justify-center my-10">
        <div class="flex max-w-[800px] justify-center flex-wrap gap-4 shadow-md p-6 rounded-lg">
            @for(techno of technos; track techno){
            <div class="w-[50px] sm:w-[60px] h-[50px] sm:h-[60px]">
                <img class="w-full h-full hover:brightness-150" src="{{techno.image}}"
                    alt="{{techno.name}}">
            </div>
            }
        </div>
    </div>
</section>