.titleh2 {
    font-size: 2rem;
    margin: 0 0 4rem 0;
}
.titleh2::before {
    content: "";
    position: absolute;
    background-color: #d4c09e;
    width: 80px;
    margin-top: 38px;
    height: 5px;
}
