<section
    hlmCard
    type="light"
    class="overflow-hidden group flex justify-center flex-col duration-700 relative">
    <div
        hlmCardContent
        class="flex justify-between items-center gap-4 !pt-6 flex-wrap group-hover:-translate-y-20 group-hover:opacity-0 duration-700">
        <div class="flex justify-start items-center gap-6">
            @if (work().logo) {
                <img width="30" height="30" class="rounded-lg" [ngSrc]="work().logo!" />
            }
            <div class="text-sm">
                @if (work().link.external) {
                    <a
                        target="_blank"
                        [href]="work().link.path"
                        class="font-bold text-primary a-link"
                        >{{ work().name }}</a
                    >
                } @else {
                    <a
                        [routerLink]="['/' + work().link.path]"
                        class="font-bold text-primary a-link"
                        >{{ work().name }}</a
                    >
                }
                <p class="text-primary">{{ work().description }}</p>
            </div>
        </div>
    </div>
    <div
        class="rounded-lg overflow-hidden w-full duration-700 bottom-0 h-full translate-y-[160px] group-hover:translate-y-0 absolute">
        <div class="relative h-full">
            <div
                class="absolute w-full h-full px-6 flex justify-center items-center z-[999] backdrop-brightness-[.4]">
                @if (work().link.external) {
                    <a
                        target="_blank"
                        [href]="work().link.path"
                        class="text-white text-center font-bold hover:[text-shadow:_0_0_5px_#516CF7,0_0_5px_#516CF7,0_0_10px_#516CF7,0_0_5px_#516CF7,0_0_10px_#516CF7] duration-300">
                        {{ work().name }}</a
                    >
                } @else {
                    <a
                        [routerLink]="['/' + work().link.path]"
                        class="text-white text-center font-bold hover:[text-shadow:_0_0_5px_#516CF7,0_0_5px_#516CF7,0_0_10px_#516CF7,0_0_5px_#516CF7,0_0_10px_#516CF7] duration-300">
                        {{ work().name }}</a
                    >
                }
            </div>
        </div>
        <img [ngSrc]="work().banner" fill class="object-cover z-40 absolute" alt="" />
    </div>
</section>
