<p-card header="Formations">
        <mat-accordion>
            @for(formation of formations; track formation){

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{formation.degree}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <article class="flex flex-col justify-center items-center">
                    <img class="w-[150px] h-auto" src="../../../assets/images/{{formation.image}}"
                        alt="Logo de {{formation.school}}">
                    <h3>{{formation.school}}</h3>
                    <p>{{formation.type}} | {{formation.duration}}</p>
                    <a href="{{formation.website}}" target="_blank" rel="noopener noreferrer"
                        class="text-my-black p-button rounded-full bg-my-white hover:brightness-75">
                        <i class="mr-2 pi pi-external-link"></i>Visiter
                    </a>
                </article>

            </mat-expansion-panel>

            }
        </mat-accordion>


    </p-card>
