<a [routerLink]="experienceItem().slug" class="grid grid-cols-12 text-sm">
    <div class="col-span-3 text-black/30">
        {{ experienceItem().startDate }} - {{ experienceItem().endDate }}
    </div>
    <div class="col-span-9">
        <div class="w-full flex justify-between gap-4">
            <h3>{{ experienceItem().jobTitle }}</h3>
            <ng-icon name="lucideArrowUpRight"></ng-icon>
        </div>
        <p class="text-black/30 mb-4">{{ experienceItem().company }}</p>
        <span class="text-primary">{{ experienceItem().description }}</span>
    </div>
</a>
