<main class="px-4 sm:px-20 lg:px-40 2xl:px-96 py-8 relative mt-20">
   
    <div appScrolltop class="cursor-pointer w-[50px] h-[50px] z-40 bg-my-white absolute text-my-dark-brown flex justify-center items-center hover:text-my-brown bottom-4 right-4 sbottom-10 sright-10">
        <mat-icon   aria-hidden="false"
        aria-label="Remonter en haut" fontIcon="arrow_upward"></mat-icon>
    </div>
   
    <app-resume-header></app-resume-header>
    <div class="py-4">
        <app-resume-experience></app-resume-experience>
    </div>
    <div class="py-4">
        <app-resume-personal-projects></app-resume-personal-projects>
    </div>
    <div class="py-4">
        <app-resume-formations></app-resume-formations>
    </div>
</main>