<div class="w-full flex justify-center my-6">
    <div class="h-[54px] w-72 overflow-hidden">
        @if(!isHelloArrayUsed()){
            <h1>{{title()}}</h1>
        }
        
        @if(isHelloArrayUsed()){
            <div class="hello-container">
                @for(hello of hellos; track hello){
                    <h1 id="hello-title" class="-translate-y-[{{value}}px] h-[54px] duration-300  text-5xl text-center font-semibold text-black/20">{{hello}}</h1>
                }
            </div>
        }
    </div>
</div>
