/* You can add global styles to this file, and also import other style files */

@import './tailwind.css';
@import 'primeicons/primeicons.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html {
    scroll-behavior: smooth;
}
p-tag {
    cursor: default;
}
p-tag:hover {
    filter: brightness(50%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
* {
    color: #160f0b;
}

.success-snack {
    --mdc-snackbar-container-color: #e9ebe3;
    --mdc-snackbar-supporting-text-color: #535b3d;
    --mat-snack-bar-button-color: #535b3d;
}
.error-snack {
    --mdc-snackbar-supporting-text-color: #dc2626 !important;
    --mat-snack-bar-button-color: #dc2626 !important;
    --mdc-snackbar-container-color: #fecaca !important;
}

