@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        line-height: 150%;
    }
    section, footer {
        @apply bg-my-white py-32 px-4 sm:px-20 lg:px-44 2xl:px-96;
    }
}

@layer components {

    .link {
        @apply hover:text-my-brown font-semibold;
    }
    .btn {
        @apply dark:bg-my-text bg-my-dark-brown duration-200 text-my-white dark:text-my-black hover:bg-my-white dark:hover:bg-my-black hover:text-my-black dark:hover:text-my-text px-4 py-2 rounded-full;

    }
    .btn-white {
        @apply rounded-lg bg-my-white z-10 duration-300 relative text-my-black px-4 py-2 shadow-md;
        overflow: hidden;
    }
    .btn-black {
        @apply rounded-lg bg-my-black z-10 duration-300 relative text-my-white px-4 py-2 shadow-md;
        overflow: hidden;
    }
 }