<a target="_blank" [href]="sideProjectItem().link" class="group w-full flex-col md:flex-row flex gap-4 items-center p-2">
    <img
        class="h-20 aspect-video hidden md:block"
        src="../../../../assets/images/side-projects/{{ sideProjectItem().imagePath }}"
        alt="" />
    <div class="w-full flex flex-col items-start">
        <div class="w-full flex justify-between gap-4">
            <h2 class="font-bold text-primary group-hover:text-accent-blue">
                {{ sideProjectItem().name }}
            </h2>
            <ng-icon name="lucideArrowUpRight"></ng-icon>
        </div>
        <p class="text-primary">{{ sideProjectItem().description }}</p>
    </div>
</a>
