.titleh2 {
    font-size: 2rem;
    margin: 0 0 4rem 0;
}
.titleh2::before {
    content: "";
    position: absolute;
    background-color: #d4c09e;
    width: 80px;
    margin-top: 38px;
    height: 5px;
}

.project-card {
    border-radius: 0.5rem;
    padding-bottom: 10px;
    aspect-ratio: 1/1.5;
}

.description {
    margin: 20px 0;
}

.projects-container {
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card-image-container {
    width: 100%;
    aspect-ratio: 1/0.9;
}
.project-card-image {
    object-fit: cover;
}
